version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: ticketgrid-postgres
    environment:
      POSTGRES_USER: ticketgrid
      POSTGRES_PASSWORD: ticketgrid
      POSTGRES_DB: ticketgrid
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: ticketgrid-redis
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: ticketgrid-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  mongo:
    image: mongo:6
    container_name: ticketgrid-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  pg_data:
  mongo_data:
